.content {
  display: flex;
  justify-content: space-around;
}

.title {
  font-size: 2rem;
  margin: 0.7rem 0 0.3rem 20%;
  color: #333333;
}

.explain {
  margin: 0.3rem 0 0.3rem 20%;
}

.topHr {
  margin-bottom: 2rem;
}

.bottomHr {
  margin-top: 2rem;
}

@media screen and (min-width: 840px) {
  .content {
  }
}
