@charset "utf-8";

.header {
  background-color: rgb(255, 255, 255, 0);
}

.header .hover {
  background-color: rgb(255, 255, 255);
}

.logo {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.logo img {
  width: 150px;
  height: 100px;
}
ul ul li img {
  width: 100%;
  height: 100%;
}

nav {
  position: relative;
  top: 0px;
  height: 40px;
  background: linear-gradient(#0d3979 50%, #ff0000 50%);
  text-align: center;
}
nav > ul {
  display: inline-block;
  height: 40px;
  overflow: hidden;
}
nav > ul:hover {
  overflow: visible;
}
nav > ul > li {
  position: relative;
  display: inline-block;
}
nav > ul > li > a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 0%;
  height: 2px;
  background: #fff;
}
nav > ul > li > a:hover::after {
  left: 0;
  width: 100%;
  transition: all 0.5s;
}
nav > ul ul {
  position: absolute;
  width: 100%;
  padding: 5px 0 0;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  background-color: white;
}
nav > ul ul:after {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 1px;
  height: 150px;
  background-color: #cfcfcf;
}
nav > ul li:first-child ul:after {
  display: none;
}
nav > ul:hover ul {
  opacity: 1;
}
nav > ul ul li {
  line-height: 39px;
}
nav > ul ul a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: #0d3979;
  transition: all 0.3s;
}
nav > ul ul a:hover {
  background-color: #ec6868;
  color: white;
  font-weight: bold;
}

/*작을 때*/
@media (min-width: 0px) and (max-width: 699px) {
  nav > ul > li > a {
    display: block;
    position: relative;
    width: 100px;
    height: 40px;
    font-size: 12px;
    color: #fff;
    line-height: 40px;
  }
  nav > ul ul a {
    font-size: 9.3px;
  }
}

/*클 때*/
@media (min-width: 700px) {
  nav > ul > li > a {
    display: block;
    position: relative;
    width: 160px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    line-height: 40px;
  }
  nav > ul ul a {
    font-size: 14px;
  }
}
