.thumbnail {
  width: 30rem;
  margin: 1rem 0;
  text-decoration: none;
  color: black;
}

.thumbnailImg {
  width: 100%;
  border-radius: 10px;
}

.explain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 0.875rem;
}

.title img {
  margin-left: 0.5rem;
  width: 2.8rem;
  border-radius: 10px;
}

.date {
  font-size: 0.5rem;
}
